@page
@model AODMS.Pages.DailyLog.IndexModel
@{
    ViewData["Title"] = "Daily Logs";
}


<div class="container">

    <div class="col-sm-1">
        <h4 class="text-info">Logs</h4>
    </div>

    <div class="col-sm-2">

        <!--Create a dropdown to filter results by location-->
        <select class="form-control" onchange="window.location.href=this.value">

            <option value="./DailyLog">All</option>

            @foreach (var item in Model.DailyLogLocations)
            {
                @if (@Model.myUnit == item.Unit)
                {
                    <option value="./DailyLog?unit=@item.Unit" selected>@item.Unit</option>
                }
                else
                {
                    <option value="./DailyLog?unit=@item.Unit">@item.Unit</option>
                }
            }
        </select>

        <!--Create a field description. JG-->
        <small class="form-text text-muted">Choose your unit.</small>
    </div>

    <!--Link to create new logs. JG-->
    <div class="col-sm-3">
        <a class="btn btn-info form-control" asp-page="./Create">Create New Daily Log</a>
    </div>

</div>

<!--Read existing logs. JG-->
<div class="container">

    <div class="col-sm-8">

        <form method="post">

            @if (Model.DailyLogSummaries.Count() > 0)
            {

                <div class="container align-vertical extra-top-margin">

                    <div class="row">
                        <!--Get headers. JG-->
                        <div class="col-sm-2">
                            <h5 class="text-info">Date</h5>
                        </div>

                        <div class="col-sm-2">
                            <h5 class="text-info">Unit</h5>
                        </div>

                    </div>

                    <!--List each daily log record. JG-->
                    @foreach (var item in Model.DailyLogSummaries)
                    {
                        <div class="row extra-top-margin">
                            <div class="col-sm-2">
                                @item.Date.ToString("yyyy-MM-dd")
                            </div>

                            <div class="col-sm-2">
                                @item.Unit
                            </div>

                            <div class="col-sm-1">
                                <a class="btn btn-primary" asp-page="./Entries/Index" asp-route-id="@item.Id">Open</a>
                            </div>

                        </div>
                    }
                </div>
            }
            else
            {
                <!--No daily log records in database. JG -->
                <p>No logs available.</p>
            }
        </form>
    </div>

</div>